datasets/*
checkpoints/*
__pycache__
.vscode
modules/data_helper/__pycache__
modules/feature_extractor/__pycache__
modulesmodel_head/__pycache__
modules/sequence_modeling/__pycache__
modules/__pycache__
modules.egg-info